/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-y: hidden;}
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  
    .dashboard-container {
      background-color: #1e1e1e;
    }
  
    .quiz-card {
      background-color: #2a2a2a;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  
      h2, p {
        color: #ddd;
      }
    }
  
    .theme-toggle {
      background-color: #333;
      color: #fff;
      border: 1px solid #555;
    }
  }
  